.container {
  padding: 20px;
}

.header {
  font-size: 26rpx;
  font-weight: bold;
  margin-bottom: 20px;
}

.report-container {
  width: 95%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.report-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.date {
  font-size: 16px;
}

.amount {
  font-size: 16px;
  color: #0c0c0c;
}