/* subPackages/package/pages/fapiaojilu/fapiaojilu.wxss */
.container {
  padding: 20rpx;

}

.order-list {
  width: 98%;
}

.order-item {
  background: #fff;
  border-radius: 16rpx;
  padding: 24rpx;
  margin-bottom: 20rpx;
  border: 1px solid rgb(184, 181, 181);

}

.order-header {
  display: grid;
  justify-content: space-between;
  margin-bottom: 16rpx;

}

.order-no {
  font-size: 28rpx;
  color: #333;
}

.order-date {
  font-size: 24rpx;
  color: #999;
}

.order-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-amount {
  font-size: 28rpx;
  color: #030303;
  margin-bottom: 20rpx;
}

.order-leixing {
  font-size: 28rpx;
  color: #030303;
  margin-bottom: 20rpx;
}

.order-type {
  font-size: 28rpx;
  color: #030303;
  margin-bottom: 20rpx;
}

.order-time {
  font-size: 28rpx;
  color: #030303;

}

.invoice-status {
  font-size: 24rpx;
  padding: 8rpx 16rpx;
  border-radius: 8rpx;
}

.invoice-status.pending {
  color: #999;
  background: #f5f5f5;
}

.invoice-status.applied {
  color: #1989fa;
  background: #e6f7ff;
}

.invoice-status.completed {
  color: #07c160;
  background: #e6f7e6;
}

.modal-content {
  padding: 20rpx;
  line-height: 1.6;
}