.container {
  height: 100vh;
  background-color: white;
  padding: 10rpx;
  display: flex;
  flex-direction: column;
  /* 垂直排列 */
  justify-content: flex-start;
  /* 子元素对齐到顶部 */
}

.wangji {
  background-color: white;
  width: 100%;
  height: 100rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* 左右对齐 */
  padding: 0 20rpx;
  /* 左右内边距 */
  margin-bottom: 10rpx;
  /* 下边距 */
}

.wang {
  margin-left: 20rpx;
}

.aa {
  position: absolute;
  left: 700rpx;
}

.divider {
  width: 100%;
  height: 1px;
  /* 分隔线高度 */
  background-color: #e0e0e0;
  /* 分隔线颜色 */
  margin: 5rpx 0;
  /* 上下间距 */
}