.container {
  position: relative;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 18px;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-box input {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  margin: 0 2px;
  text-align: center;
  font-size: 18px;
}

button {
  background-color: #007aff;
  color: white;
  padding: 10px;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.ipt {
  position: absolute;
  margin: 0 auto;
  top: -200rpx;
  width: 200rpx;
  height: 10rpx;
  border: 1px solid #ccc;
}

.confirm-btn {
  margin-top: 40rpx;
  width: 80%;
  height: 100rpx;
  background-color: rgb(205, 174, 242);
  color: white;
  border-radius: 20rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}