.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(243, 243, 243);
}

.leixing {
  position: absolute;
  top: 40rpx;
  left: 120rpx;
}

.kapian {
  width: 90%;
  height: 180rpx;
  background-color: #def3fc;
  border-radius: 20rpx;
  display: grid;
  margin-top: -80rpx;
}

.jifen {
  position: absolute;
  top: 350rpx;
  left: 40rpx;
}

.yaoqing {
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 800rpx;
  left: 50%;
  transform: translateX(-50%);

}

.zi {
  position: absolute;
  top: 750rpx;
  left: 50%;
  transform: translateX(-50%);
}