.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.input-group {
  display: flex;
  margin-bottom: 20px;
}

.input-group text {
  margin-right: 10px;
}

button {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgb(205, 174, 242);
  color: white;
  border-radius: 5px;
}