page {
  --td-button-primary-border-color: rgb(205, 174, 242);
  --td-button-primary-bg-color: rgb(205, 174, 242);
  --td-button-primary-active-bg-color: rgb(182, 134, 241);
  --td-button-primary-active-border-color: rgb(182, 134, 241);
  --td-side-bar-active-color: rgb(205, 174, 242);
  --td-side-bar-font-size: 26rpx;
}

.order-confirm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0rpx;
  width: 100%;
  height: 200rpx;
}

.pickup-delivery-group {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 50rpx;
  position: relative;
  left: 20rpx;
  top: 70rpx;
  height: 55rpx;
  width: 170rpx;
}

.pickup-button,
.delivery-button {
  font-size: 22rpx;
  padding: 10rpx 20rpx;
  color: #000;
  background-color: #f5f5f5;
  border-radius: 50rpx;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;

}

.pickup-button.active,
.delivery-button.active {
  background-color: rgb(205, 174, 242);
  color: #fff;
}

.example-search {
  padding: 20rpx;
  background-color: #ffffff;
  position: relative;
  left: -200rpx;
  top: 55rpx;
  height: 50rpx;
  width: 300rpx;
}

.search-bar {
  height: 50rpx;
  background-color: #f1f1f1;
  border-radius: 40rpx;
  display: flex;
  align-items: center;
  padding: 0 20rpx;
}

.search-icon {
  position: absolute;
  left: 30rpx;
  color: #b2b2b2;
}

.search-input {
  height: 80rpx;
  width: 100%;
  padding-left: 60rpx;
  font-size: 32rpx;
  background-color: transparent;
  border: none;
  outline: none;
}

.ad {
  display: flex;
  width: 550rpx;
  position: absolute;
  right: 170rpx;
  height: 50rpx;
  top: 128rpx;
}


.address-section {
  position: absolute;
  top: 10rpx;

}

page {
  background-color: var(--td-bg-color-container);
}

page .round-image {
  border-radius: 12rpx;
}

.side-bar-wrapper {
  display: flex;
  height: calc(100vh - 100rpx);
  overflow: hidden;
}

.side-bar-wrapper .content {
  flex: 1;
  transition: transform 0.3s ease;
}

.side-bar-wrapper .section {
  padding: 32rpx 0 0 0;
  box-sizing: border-box;
  height: 100%;
}

.side-bar-wrapper .title {
  padding-left: 40rpx;
  margin-bottom: 8rpx;
  color: var(--td-text-color-primary);
}

.side-bar-wrapper .image {
  width: 96rpx;
  height: 96rpx;
}


// 菜品卡片
.dishItem {
  width: 500rpx;
  height: 200rpx;
  // border: 1px solid #000;
  margin: 20rpx auto;
  display: flex;

  .left {
    image {
      width: 150rpx;
      height: 150rpx;
      border-radius: 8rpx;
      border: none;
    }
  }

  .right {
    width: 330rpx;
    // border: 1px solid #000;
    position: relative;
    margin-left: 20rpx;

    .name {
      font-size: 28rpx;
    }

    .desc {
      width: 100%;
      color: gray;
      white-space: nowrap;
      /* 不换行 */
      overflow: hidden;
      /* 隐藏超出部分 */
      text-overflow: ellipsis;
      font-size: 22rpx;
      margin-top: 20rpx;
    }

    .price {
      margin-top: 20rpx;
      color: #cc471e;
    }

    .add-button {
      position: absolute;
      right: 20rpx;
      top: 100rpx;
      width: 50rpx;
      height: 50rpx;
      border-radius: 50%;
      background-color: rgb(205, 174, 242);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
    }

    .add-button text {
      font-size: 36rpx;
      font-weight: bold;
      color: white;
      line-height: 1;
    }

    .number-box {
      // position: relative;
      background-color: rgb(83, 119, 94);
      width: 30rpx;
      height: 30rpx;
      color: white;
      border-radius: 50%;
      /* 圆形 */
      position: absolute;
      right: 10rpx;
      top: 95rpx;
      font-size: 24rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      // .num{
      // position: absolute;
      // left: 50%;
      // transform: translateX(-50%);
      // }
    }

    .stepper {
      margin-top: 20rpx;
      position: absolute;
      right: 0;
    }
  }
}

.store-section {
  display: flex;
  position: absolute;
  top: -80rpx;

}

// 底部
.bottom {
  // border: 1px solid #000;
  position: absolute;
  width: 96%;
  border-radius: 30rpx;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  bottom: 20rpx;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  // left: 400rpx;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .left {
    display: flex;
    align-items: center;
    font-size: 38rpx;
    position: relative;
    // right: 100rpx;

    image {
      width: 100rpx;
      height: 100rpx;
      margin-right: 20rpx;
    }

  }
}

.recommendation-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20rpx;
  border-radius: 10px;
  width: 80%;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-icon {
  font-size: 24px;
  cursor: pointer;
}

.popup-body {
  margin: 20px 0;
}

.store-info {
  margin: 10px 0;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
}

.store-info text {
  display: block;
  margin: 5px 0;
}

.popup-content1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  bottom: 100rpx;
  width: 90%;
}

.placeholder {
  width: 100%;
  height: 50rpx;
  /* 固定高度，可以根据需要调整 */
  background-color: transparent;
  /* 透明背景 */
}